<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/static/logo.png" alt="Duendes Site">
                <p>Encontre os melhores eventos da sua cidade</p>
            </div>
            <div class="footer-contact">
                <h4>Contato</h4>
                <p>E-mail: josiephelipel265@gmail.com</p>
            </div>
            <div class="footer-social">
                <h4>Redes Sociais</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/josielphelipe/">Instagram</a>
                    <a href="https://github.com/Jotshh">Github</a>
                    
                </div>
            </div>
        </div>
    </div>
</footer>